<style type="text/css">
  #contentss {
  position: relative;
  width: 80%;
  height: auto;
  max-height: 1200px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, .87);
  background: #fff 50%;
  background-size: cover;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  margin:0 auto;
  }
</style>

<%- partial('_partial/header') %>
<main class="content">
    <br>
    <br>
    <br>
    <div id="contentss">
        <%- partial('_widget/category-cloud') %>
    </div>
    <br>
    <br>
    <div id="contentss">
        <% if (site.categories && site.categories.length > 0) { %>
        <%- partial('_widget/category-radar') %>
        <% } %>
    </div>

</main>
